syntax: glob
admin/application/views_c/*
*.log
.htaccess
*.log
*.orig
*.bkp
*.bak
*_bkp.*
*_bkp
download/*
log/*
logs/*
cache/*
templates_c/*
tmp/*
*.bat
*.exe
*.rar
*.zip
*.db
*.tar
*.gz
*.gzip
*.swp
