.form .text {
    font-size:18px;
}
#gl_dest {
    width: 600px;
}

#ckregular {
    margin: 0 0 10px 10px;
}

.lcenter {
    margin: 0 0 0 5px;
    position:relative;
    bottom:9px;
}

#grlist tr:hover td {
    background:#eee;
}

#grlist tr.th:hover td {
    background:#fff;
}